@model TicketSysSultan.Models.TicketMemberViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAdmin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ticket.Id" />
            <input type="hidden" name="id" value="@Model.Ticket.Id" />
            <div class="form-group">
                <label asp-for="Ticket.Name" class="control-label"></label>
                <input asp-for="Ticket.Name" class="form-control" readonly />
                <span asp-validation-for="Ticket.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.ExtNum" class="control-label"></label>
                <input asp-for="Ticket.ExtNum" class="form-control" readonly />
                <span asp-validation-for="Ticket.ExtNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Issue" class="control-label"></label>
                <textarea class="form-control" readonly>
@Model.Ticket.Issue
</textarea>
                <span asp-validation-for="Ticket.Issue" class="text-danger"></span>
                @*<textarea asp-for="Issue" class="form-control" readonly />*@
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Solution" class="control-label"></label>
                <textarea name="Ticket.Solution" class="form-control" style="height: 120px;">@Model.Ticket.Solution</textarea>
                <span asp-validation-for="Ticket.Solution" class="text-danger"></span>
                @*<textarea asp-for="Solution" class="form-control" />*@
            </div>

            <div class="form-group">
                <label asp-for="Ticket.Member" class="control-label"></label>
                <select asp-for="Ticket.MemberId" asp-items="Model.MembersSelectList" class="form-control">
                </select>
                <span asp-validation-for="Ticket.Member" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="CloseDateTime" class="control-label"></label>
            <input asp-for="CloseDateTime" class="form-control" />
            <span asp-validation-for="CloseDateTime" class="text-danger"></span>
        </div>*@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ticket.Closed" /> @Html.DisplayNameFor(model => model.Ticket.Closed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
